body{
	scrollbar-3dlight-color: #666666;
	scrollbar-highlight-color: #FFFFFF;
    scrollbar-face-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-darkshadow-color: #666666;
    scrollbar-base-color: #666666;
    scrollbar-track-color: #FFFFFF;
}

INPUT {
	BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000
}
SELECT {
	BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000
}
TEXTAREA {
	BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #0000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000
}

a:link {
   font-family: verdana, arial, sans-serif;
   font-size: 10px;
   color: #000000; }
a:visited {
   font-family: verdana, arial, sans-serif;
   font-size: 10px;
   color: #000000; }
a:hover {
   font-family: verdana, arial, sans-serif;
   font-size: 10px;
   color: #999999;
   text-decoration:underline; }

.maintext {
   font-family: verdana, arial, sans-serif;
   font-size: 10px;
   color: #666666; }
.guestmess {
   font-family: verdana, arial, sans-serif;
   font-size: 10px;
   color: #000000; }
.adminmess {
   font-family: verdana, arial, sans-serif;
   font-size: 10px;
   color: #999999; }